version: '3.8'

services:
  lychnos:
    build:
      context: .
      dockerfile: api/Dockerfile
    container_name: lychnos
    image: tannnn/lychnos:latest # 0.0.2.8
    ports:
      - "1250:1250"
    environment:
      # 时区配置
      TZ: Asia/Shanghai
      FILE_MAX_SIZE: ${FILE_MAX_SIZE:-500MB}
      FILE_MAX_REQUEST: ${FILE_MAX_REQUEST:-500MB}
      # 管理员需要自己创建好用户后在数据库中更改数据，将自己的`tb_user_info.roles`设置为`["USER", "ADMIN"]`
      MYSQL_PWD: ${MYSQL_PWD:-root}
      MYSQL_UNM: ${MYSQL_UNM:-root}
      MYSQL_URL: ${MYSQL_UNM:-localhost:3306}
      MYSQL_DB: ${MYSQL_UNM:-db_lychnos}
      DOC_PASSWORD: ${DOC_PASSWORD:-tan}
      DOC_USERNAME: ${DOC_USERNAME:-tan}
      CONFIG_ENV: ${CONFIG_ENV:-prod}
      IMAGE_STORAGE_PATH: ${IMAGE_STORAGE_PATH:-./data/images}
      # 生成方式：AESUtil.generateSecretKey("Lychnos2026SecretKey")
      # 注意：生产环境请务必修改此密钥，并妥善保管
      # 16位字符
      AES_SECRET_KEY: ${AES_SECRET_KEY:-kZXQiOjE3MzczOTY3}
      # 单位 毫秒 millisecond
      IMAGE_SIGNATURE_EXPIRY_MS: ${IMAGE_SIGNATURE_EXPIRY_MS:-120000}
      # OAuth 回调地址（生产环境改为实际域名）http://localhost:1250
      CALLBACK_BASE_URL: ${CALLBACK_BASE_URL:-https://lychnos.tannn.cn}
      # HTTP 代理配置（用于访问国外 AI 服务 - 这个需要自己服务器支持，尽量不要设置或者设置false）
      HTTP_PROXY_ENABLED: ${HTTP_PROXY_ENABLED:-false}
#      HTTP_PROXY_HOST: ${HTTP_PROXY_HOST:-127.0.0.1}
#      HTTP_PROXY_PORT: ${HTTP_PROXY_PORT:-7890}
      JWT_TOKEN_SECRET: ${JWT_TOKEN_SECRET:b40715ff972d60c4yff8044acfb33ba091544b2e21825672edc38799f52f1895}
    volumes:
      # 可选：持久化日志
      - ./logs:/app/logs
      # 图片地址
      - ./data/images:/app/data/images
    restart: unless-stopped
    networks:
      - lychnos-network

networks:
  lychnos-network:
    driver: bridge
